@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  box-sizing: border-box;
}

/* #loginMain 가운데 정렬을 위한 flex 설정*/
#flexContainer {
  height: 100vh;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginMain {
  width: 350px;
  height: 396px;
  border: 1px solid #e6e6e6;
  flex-direction: column;
}

#title {
  font-family: "Lobster", cursive;
  margin-bottom: 70px;
  font-size: 2.5em;
}

.inputForm {
  flex-direction: column;
}

.inputArea {
  width: 250px;
  height: 35px;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  margin-bottom: 5px;
  text-indent: 7px;
  background-color: #fafafa;
}

.inputArea::placeholder {
  color: #999999;
  font-size: 0.85em;
}

#loginBtn {
  width: 250px;
  height: 28px;
  color: #fff;
  border: none;
  background-color: #c4e1fb;
  border-radius: 4px;
  font-weight: 700;
  margin-top: 10px;
}

#lostPw {
  text-decoration: none;
  font-size: 0.7em;
  margin-top: 80px;
  color: #003569;
}
