@import url("https://fonts.googleapis.com/css2?family=Lobster+Two&display=swap");

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  background-color: rgb(250, 250, 250);
}
.wrap {
  display: grid;
  height: 100vh;
  grid-template-rows: 4.5fr 1.5fr;
  justify-content: center;
}
.container {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.content {
  display: grid;
  align-items: end;
  grid-template-columns: 2fr 1.6fr;
  width: 850px;
}
.img-box {
  display: grid;
  height: 80%;
  background-image: url("../../assets/images/insta.png");
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
}
.login-box {
  display: grid;
  height: 74%;
  grid-template-rows: 5fr 2.7fr 1.5fr;
  padding: 0px 30px 10px 10px;
}
.main {
  display: grid;
  grid-template-rows: 1fr 1.2fr 0.8fr;
  padding: 0px 40px 20px 35px;
  border: 1px solid #d3d3d385;
  background-color: white;
}
.title {
  display: flex;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  font-family: "Lobster Two", cursive;
}
.login {
  display: grid;
  grid-template-rows: 1fr 1fr 1.8fr;
  gap: 6px;

  input {
    all: unset;
    border-radius: 3px;
    background-color: #f6f6f6;
    padding-left: 8px;
    font-size: 12px;
    height: 35px;
  }
  .login-btn {
    margin-top: 6px;
    border-radius: 3px;
    text-align: center;
    color: white;
    font-size: 14px;
    height: 35px;
    border: 0;
    font-weight: 600;
  }
}
.join {
  border: 1px solid #d3d3d385;
  margin-top: 10px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  b {
    color: #0095ff;
    font-weight: 700;
    text-decoration: none;
  }
}

.download {
  display: grid;
  padding: 5px 30px 0px 30px;
  grid-template-rows: 0.5fr 1fr;
  grid-template-columns: repeat(2, 1fr);

  p {
    grid-column: span 2;
    height: 100%;
    align-items: flex-end;
    display: flex;
    font-size: 15px;
    justify-content: center;
  }

  #download-btn {
    display: flex;
    justify-content: center;
    height: 40px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    margin: 10px 5px 0px 5px;
  }
}

.other {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
}
.text {
  display: grid;
  grid-template-columns: 1fr 0.5fr 1fr;

  hr {
    width: 100%;
    border: 0;
    height: 3%;
    background-color: rgb(143, 143, 143);
  }

  p {
    display: flex;
    justify-content: center;
    font-size: 13px;
    color: #8a8a8a;
    font-weight: 600;
  }
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #425282;
  }
}

.lost-pwd {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  font-size: 13px;

  p {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #425282;
  }
}

.bt-content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;

  footer {
    display: grid;
    color: gray;
    font-size: 12px;
    width: 100%;

    .footer-menu {
      display: flex;
      flex-wrap: wrap;
      max-width: 850px;
      justify-content: center;

      p {
        text-decoration: none;
        color: gray;
        line-height: 30px;
        margin-right: 20px;
      }
    }

    .copyright {
      display: flex;
      justify-content: center;
      margin-top: 20px;
    }
  }
}
