main {
    background-color: rgb(242, 242, 242);
    margin: 0;
    padding: 50px 0;
    width: 100%;

    .main {
        width: 400px;
        background-color: #fff;
        margin: 0 20%;
        margin-bottom: 50px;
        border: solid 1px rgb(218, 218, 218);
    }
    .main .main-header {
        display: flex;
        justify-content: space-between;
    }
    .main .main-header .box {
        display: flex;
        margin: 10px 0;
    }
    .main .main-header .box .personId {
        margin: 0;
        height: 30px;
        line-height: 30px;
        margin-left: 10px;
        padding: 0;
    }
    .main .main-header .box .radius {
        width: 30px;
        height: 30px;
        margin: 0;
        margin-left: 10px;
        border-radius: 50%;
    }

    .main .main-header .dots {
        margin: 13px 0;
    }
    .main .main-header .dots img {
        margin-right: 10px;
    }

    .main .picture {
        width: 398px;
        height: 400px;
    }
    .picture img {
        width: 100%;
        height: 100%;
    }
    .main .mainIcon {
        margin-left: 8px;
        margin-top: 5px;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
    }
    .main .mainIcon div img {
        margin: 3px;
    }
    .main .like {
        margin-left: 10px;
        margin-top: 3px;
        display: flex;
    }

    .main .write {
        margin: 0 10px;
    }
    .main .write a,
    .small {
        text-decoration: none;
        color: rgb(136, 136, 136);
        margin-left: 10px;
    }
    .main .write .small {
        font-size: 13px;
    }
    .margin {
        display: inline-block;
        margin: 10px 0;
    }
    .bold {
        color: #000;
        font-size: 16px;
        font-weight: bold;
    }
    .commentP {
        margin: 3px 0;
    }
    .spancss {
        font-weight: bold;
        margin: 0 10px;
    }
    .main .hidden {
        list-style: none;
    }
    .main .comment {
        display: flex;
        justify-content: space-between;
        /* padding-left: 8px; */
        padding: 7px 0;
        border-top: solid 1px rgb(218, 218, 218);
    }
    .main .comment input {
        border: none;
        padding: 0 8px;
        width: 90%;
        outline: none;
    }
    .main .comment button {
        background-color: #fff;
        outline: none;
        border: none;
        width: 10%;
        color: rgba(0, 123, 255, 0.375);
        cursor: pointer;

        &:hover {
            color: rgb(0, 123, 255);
        }
    }
    .writer {
        font-weight: bold;
        margin: 0 10px;
    }
    .writer {
    }
}
.mock {
    margin: 3px;
}
.mock-margin {
    font-weight: bold;
    margin: 0 6px;
}
