@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  background-color: #fafafa;
}

/* 페이지 상단 헤더 */
header {
  width: 100%;
  height: 60px;
  border: 1px solid #dbdbdb;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin-bottom: 50px;
}

#headerMain {
  width: 935px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logos {
  width: 21px;
  height: 20px;
  background-size: cover;
}

/* 헤더 왼쪽 아이콘과 로고 부분 */
#headerLeft {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#icon img {
  width: 20px;
  height: 20px;
  margin-top: 10px;
}

#pipe {
  font-size: 25px;
  margin: 0 15px;
}

#logoName {
  font: {
    family: "Lobster", cursive;
    size: 20px;
  }
}

/* 검색창 */
#searchInput {
  background-color: #efefef;
  width: 200px;
  height: 23px;
  border: 2px solid #e4e4e4 {
    radius: 3px;
  }
}

#searchInput {
  &::placeholder {
    text-align: center;
    color: #bebfc1;
    background: url("../../assets/images/search.png") no-repeat {
      size: 13px 13px;
      position: left 38% top 50%;
    }
  }

  &:focus {
    outline: none;
  }
}

/* 헤더 오른쪽 부분 아이콘 */
#headerRight {
  display: flex;
}

#explore {
  background: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/explore.png")
    no-repeat;
  background-size: cover;
}

#heart {
  background: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/heart.png")
    no-repeat;
  background-size: cover;
  margin: 0 25px;
}

#profile {
  background: url("https://s3.ap-northeast-2.amazonaws.com/cdn.wecode.co.kr/bearu/profile.png")
    no-repeat;
  background-size: cover;
}

// main 영역
main {
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.alignCenter {
  display: flex;
  align-items: center;
}
