.wrap {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}
ul,
li,
p {
  all: unset;
}
header {
  display: flex;
  height: 57px;
  background-color: white;
  border-bottom: 1px solid lightgray;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
}
nav {
  display: grid;
  width: 950px;
  grid-template-columns: 1fr 2fr 1.4fr;
}
input {
  border: 0;
  outline: 0;
}

.logo {
  display: grid;
  padding-top: 15px;
  padding-bottom: 10px;
  padding-left: 30px;
}
.ins-logo {
  background-image: url(../../assets/images/logo.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.search {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 50px;
}
.input-search {
  margin-top: 4px;
  width: 250px;
  height: 16px;
  padding: 8px;
  box-sizing: content-box;
  background-color: #f0f0f0;
  border-radius: 7px;
  background-image: url("../../assets/images/search-icon.png");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 4% center;
  text-indent: 10%;

  &:focus {
    background-position: 4% center;
    outline: none;

    &::placeholder {
      clip-path: polygon(0 0, 0 0, 0 0);
    }
  }

  &::placeholder {
    text-align: center;
    vertical-align: center;
    font-weight: 300;
    font-size: 16px;
    color: #8e8e8e;
  }
  &:not(:focus) {
    text-align: center;
    vertical-align: center;
    font-weight: 300;
    font-size: 16px;
    color: #8e8e8e;
  }

  &::-webkit-search-cancel-button {
    height: 14px;
    width: 14px;
    background-repeat: no-repeat;
    background-size: 13px;
    background-position: center left;
    background-image: url("../../assets/images/cancel.png");
  }
}

.menubar {
  display: flex;
  justify-content: end;
}
.menu {
  display: grid;
  width: 100%;
  padding: 14px 10px 13px 15px;
  grid-template-columns: repeat(6, 1fr);
}
.home {
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center;
  background-image: url("../../assets/images/home.png");
}
.dm {
  background-repeat: no-repeat;
  background-size: 75%;
  background-position: center;
  background-image: url("../../assets/images/dm.png");
}
.plus {
  background-repeat: no-repeat;
  background-size: 58%;
  background-position: center;
  background-image: url("../../assets/images/plus.png");
}
.explore {
  background-repeat: no-repeat;
  background-size: 58%;
  background-position: center;
  background-image: url("../../assets/images/explore.png");
}
.heart {
  background-repeat: no-repeat;
  background-size: 58%;
  margin-right: 3px;
  background-position: center;
  background-image: url("../../assets/images/heart.png");
}
.user {
  display: flex;
  justify-content: center;
  justify-items: center;
  padding: 3px 10px 0px 8px;
}
.profile {
  width: 100%;
  border-radius: 50%;
  border: 1px solid #dbdbdb;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("../../assets/images/profile.jpg");
}

/*상단 네비게이션 끝*/

section {
  display: flex;
  height: 100vh;
  padding-top: 85px;
  justify-content: center;
}
.main-box {
  display: grid;
  width: 800px;
  align-items: flex-start;
  grid-template-columns: 2fr 1.6fr;
}
.feed {
  display: grid;
  gap: 15px;
  padding-left: 15px;
  padding-bottom: 50px;
}
.story {
  border: 1px solid #dbdbdb;
  background-color: white;
  border-radius: 8px;
}
.feed-content {
  border: 1px solid #dbdbdb;
  background-color: white;
  display: grid;
  min-height: 650px;
  grid-template-rows: 55px 400px 70px 1fr auto;
  border-radius: 9px;
}
.feed-head {
  display: grid;
  grid-template-columns: 1fr 5fr 0.5fr;
  align-items: center;
  padding-top: 13px;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
}
.feed-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.nav-img {
  width: 47%;
  height: 100%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #dbdbdb;
  background-image: url("../../assets/images/hank.jpeg");
}
.more-img {
  height: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  margin-right: 13px;
  background-image: url("../../assets/images/more.png");
}
.feed-img {
  background-position: center;
  background-size: cover;
  border-bottom: 1px solid #dbdbdb;
}
.image1 {
  background-image: url("../../assets/images/peed1.jpg");
}
.image2 {
  background-image: url("../../assets/images/peed2.jpg");
}
.image3 {
  background-image: url("../../assets/images/peed3.jpg");
}
.image4 {
  background-image: url("../../assets/images/peed4.jpg");
}
.image5 {
  background-image: url("../../assets/images/peed5.jpg");
}
.like {
  display: grid;
  grid-template-rows: 1fr 0.5fr;
}
.like-box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.like-left-icon {
  display: grid;
  justify-content: start;
  padding: 10px;
  gap: 2px;
  grid-template-columns: 35px 35px 35px 1fr;

  .heart {
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
    background-image: url("../../assets/images/heart.png");
  }

  .dm {
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
    background-image: url("../../assets/images/dm.png");
  }
}
.chat {
  background-repeat: no-repeat;
  background-size: 70%;
  background-position: center;
  background-image: url("../../assets/images/chat.png");
}
.like-right-icon {
  display: flex;
  justify-content: end;
  padding: 10px;

  .keep {
    background-repeat: no-repeat;
    background-size: 70%;
    width: 30px;
    background-position: center;
    background-image: url("../../assets/images/keep.png");
  }
}
.like-people {
  display: grid;
  grid-template-columns: 30px 1fr;
  font-size: 13px;
  align-items: center;

  span {
    margin-left: 13px;
  }
}
.people-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 15px;
  border-radius: 60%;
  width: 19px;
  height: 85%;
  background-image: url("../../assets/images/profile.jpg");
}
.message {
  display: grid;
  grid-template-rows: auto 1fr;
  padding: 10px 15px 10px 15px;
  font-size: 12px;
}
.m-text {
  b {
    margin-right: 5px;
  }
}
.m-box {
  li {
    display: block;
    width: 100%;
    margin-top: 7px;
  }
  b {
    margin-right: 7px;
  }
}

.m-time {
  display: flex;
  font-size: 10px;
  margin-top: 5px;
  align-items: center;
  color: #8e8e8e;
}
.comment {
  display: grid;
  grid-template-columns: 35px 1fr 50px;
  align-items: center;
  border-top: 1px solid #dbdbdb;

  input {
    background-color: #fff;
  }
}
.comment-box {
  margin-top: 4px;
  height: 16px;
  padding: 8px;
  box-sizing: content-box;
  text-indent: 2%;
}
.comment-btn {
  background-color: white;
  font-size: 13px;
  color: #0095ff;
  border: 0;
}
.comment-btn:disabled {
  color: #0095ff4f;
}
.emoji {
  display: flex;
  justify-content: flex-end;
  height: 100%;
  font-size: 20px;
  align-items: center;
  text-decoration: none;
}
.comment-box:focus {
  background-position: 4% center;
  outline: none;
}
.comment-box::placeholder,
.comment-box:not(:focus) {
  font-weight: 300;
  font-size: 12px;
}
.input-search:focus::placeholder {
  clip-path: polygon(0 0, 0 0, 0 0);
}
.input-search::-webkit-search-cancel-button {
  height: 14px;
  width: 14px;
  background-repeat: no-repeat;
  background-size: 13px;
  background-position: center left;
  background-image: url("../../assets/images/cancel.png");
}

/* 인스타 피드 스타일 끝 */

.follow {
  display: grid;
  height: 500px;
  grid-template-rows: 1fr 3fr 1fr;
  padding: 0px 10px 10px 30px;
}
.account {
  display: grid;
  padding-top: 10px;
  align-items: center;
  padding-bottom: 10px;
  grid-template-columns: 1.5fr 3fr 1fr;
}
.my-img {
  width: 65%;
  height: 67%;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border: 1px solid #dbdbdb;
  background-image: url("../../assets/images/profile.jpg");
}
.my-name {
  font-size: 14px;
  display: grid;
  font-weight: bold;

  span {
    font-size: 10px;
    margin-top: 4px;
    color: #8e8e8e;
    font-weight: 400;
  }
}

.my-change {
  display: flex;
  justify-content: center;
  font-size: 11px;
  color: #0095ff;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}
.rec {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  align-items: center;

  b {
    font-size: 13px;
    color: #8e8e8e;
    font-weight: 600;
  }
}

.follower {
  display: grid;
  grid-template-columns: 1.5fr 5fr 1fr;
  height: 100%;
  width: 100%;
  align-items: center;
  gap: 10%;
  justify-content: center;

  b {
    font-size: 13px;
    font-weight: 600;
    color: black;
  }

  b:nth-child(2) {
    font-size: 13px;
    font-weight: 600;
  }

  p {
    border: 1px solid #dbdbdb;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 12px;
    height: 71%;
    border-radius: 100%;
  }
}

.f-img-1 {
  background-image: url(../../assets/images/hank.jpeg);
}
.f-img-2 {
  background-image: url(../../assets/images/peed2.jpg);
}
.f-img-3 {
  background-image: url(../../assets/images/peed3.jpg);
}
.f-img-4 {
  background-image: url(../../assets/images/peed4.jpg);
}
.f-img-5 {
  background-image: url(../../assets/images/peed5.jpg);
}

.follow-btn {
  display: flex;
  justify-content: center;
  font-size: 11px;
  color: #0095ff;
  font-weight: 600;
  text-decoration: none;
}
.ft-menu {
  margin-top: 15px;
  margin-right: 20px;

  p {
    margin-top: 20px;
    color: #cecece;
    font-size: 11px;
  }
}
.copy {
  font-size: 12px;
  margin-top: 20px;
  color: #cecece;
  font-size: 11px;
  display: flex;
}
